@charset "UTF-8";
body{
	text-align: left;
}


h1, h2, h3 {
    color: black;
    text-align: center;
}
p {
    color: black;
    text-align: center;
}

input {

	color: black;

	font-family: book-antiqua;

}



.content {

	text-align: left;

	font-family: book-antiqua;

	margin: 40px auto;

	width: 100%;

	border-radius: 5px;

	padding-bottom: 32px;

}



#head1, #head2 {

	font-size: 40px;

	font-family: book-antiqua;

	color: white;

	font-style: italic;

}



#subhead {

	font-size: 30px;

	font-family: book-antiqua;

	color: white;

	font-style: italic;

}



#header3 {
	font-size: 30px;

	font-family: book-antiqua;

	color: black;

}



#buttons {

	position: absolute;

	left: 800px;

	font-family: book-antiqua;

	font-size: 20px;

}



.part2 {

	margin: 40px auto;

	max-width: 960px;

	text-align: center;

	font-family: book-antiqua;

	font-size: 40px;

	font-weight: bold;

}



.btn-outline-danger {

	font-style: italic;

	font-family: Book Antiqua;

}



.container-fluid {

	background: #D9534F;

}



