
input {
	color: blue;
}

.content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin: 40px auto;
	background-image : url("/Oved266Red/pic/sfondo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	max-width:960px;
	border-radius: 5px;
	padding-bottom:32px;
	
}
